body{
    background-color: #FBE0C3
}
    }.head{
    background-color:#344648;
    position: fixed;
    width: 100%;
    left:0;
    top:0;
}
.side-bar{
    position: fixed;
    flex-direction: row;
    margin-left:70px;
    margin-top:150px;
    width:23%;
}
.nav-bar{
    flex-direction: row;
    margin-left:70px;
    margin-top:150px;
    width:23%;
}
a{
    color:black
}
nav{
    width:97%;
}
nav a {
    color: inherit;
    display: block;
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;
}
nav > ul {
    list-style: none;
    display: flex;
}
nav > li{
    flex-direction: row;
}
nav a:hover{
    background-color: #7D8E95;
    color: white;
    border-radius:50px
}
