body{
    background-color: #FBE0C3;
}
.head{
    background-color:#344648;
    position: fixed;
    width: 100%;
    left:0;
    top:0;
}
.left{
    flex-direction: row;
    width:65%;
    margin-left:450px;
    margin-top:150px;
    background:#FFBB98;
    border-radius:50px;
}
.side-bar{
    position: fixed;
    flex-direction: row;
    margin-left:70px;
    margin-top:150px;
    width:23%;
}
a{
    color:black;
}
